<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <title>Document</title>
</head>
<body class="viewall" style="font-family: font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <h1 style="text-align: center">FOUND ITEMS</h1>
  <ul id = "items" >
    <% for (var i = data.length-1 ; i>= 0; i--) {%>
   
   <li>
   
       <div class = "itembox">
       <div>
        <h3 id = "head3" style="text-align: center">ITEM DESCRIPTION: </h3><%= data[i].itemdescription %>
        <script>
         var title = ["Found Something in the City","Anyone Lost This?","FOUND ITEM","Dont Worry Your Item is Safe", "I bet someone is going crazy for this", "BE RESPONSIBLE! JEEZ."];
         var randomTitle = title[Math.floor(Math.random() * 6)];
         document.getElementById('head3').innerText = randomTitle;


        </script>
        <br>
        <a id = "claimButton" href="/report" class="btn btn-dark btn-lg js-scroll-trigger" style="right:0; bottom: 0;" class="link"> Claim This Item  </a>
        </div>
        </div>
         <% } %>
      </li>
    </ul>
<script src="script.js"></script>

</body>
</html>